
/* Use Android-specific icons */
.ionicon {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ionicon .icon-day {
  content:"\f3b0";
}
.ionicon .icon-night {
  content:"\f468";
}
